version: '3'
services:
  api-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    entrypoint: bash -c 'chmod +x ../entrypoint.sh && ../entrypoint.sh'
  db:
    image: mongo
    volumes:
      - mongodb-data:/data/db
    ports:
      - '27017:27017'

volumes:
  mongodb-data:
